<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3><%= t(@action) %> </h3>
      </div>

      <%= simple_form_for @person do |f| %>
        <div class="card-body">
          <%= f.input :name %>
          <%= f.input :document, as: :string %>
          <%= f.input :birthdate, as: :string, hint: 'formato: dia/mês/ano', input_html: { class: 'date', value: @person.birthdate&.strftime('%d/%m/%Y') } %>
        </div>
        <div class="card-footer text-center">
          <%= f.submit 'Save', class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>